@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}


/* ===========================================
Pre-Loader
======================================= */

#preloader {
  background: black url(loader.gif) no-repeat center;
  background-size: 15%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

/* ============================
Header
============================*/
/* custom scroll bar */
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::selection {
  background: rgb(0, 123, 255, 0.3);
}

.content {
  max-width: 1250px;
  margin: auto;
  padding: 0px 30px;
}

.navbar {
  position: fixed;
  z-index: 5;
  width: 100%;
  padding: 25px 0;
  transition: all 0.3s ease;
}

.navbar.sticky {
  padding: 10px 0;
  /* Sticky navbar ka background
   color black se white kiye hai  */
  background: white;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.navbar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}

.navbar .menu-list {
  display: inline-flex;
}

.menu-list li {
  list-style: none;
}

.menu-list li a {
  /* Change colour to black */
  color: black;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.menu-list li a:hover {
  color: #007bff;
}

.banner {
  height: 10vh;
  background: url("white.webp") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.about {
  padding: 40px 0;
}

.about .title {
  font-size: 35px;
  font-weight: 700;
}

.about p {
  padding-top: 20px;
  text-align: justify;
}

.icon {
  /* Color change kiye hai white to 
  black taaki bars black ho jaaye */
  color: black;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.icon.cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}

.logo img {
  width: 14rem;
  height: 3rem;
}

.navbar.sticky .icon.cancel-btn {
  top: 10px;
}


.logo img {
  margin-top: -2rem;
  width: 25rem;
  height: 6rem;
}


/* ===========================================
Footer Section
======================================= */

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: #24262b;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col p {
  font-size: 1.5rem;
  color: white;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

.footer-col iframe {
  width: 90%;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgb(168, 154, 154);
}


.cop {
  display: flex;
  justify-content: center;
  margin-left: 25%;
  margin-top: 20px;
  width: 50%;
}

.copyright {
  display: flex;
  justify-content: center;
}

.copyright p {
  color: white;
  font-size: 1.2rem;
  margin-top: 10px;
}


/*-- ======================================== 
      Contact Us
========================================  */

.contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(135deg, rgb(111, 111, 196), grey, pink);
  background-size: cover;
}

.contact .content {
  max-width: 800px;
  text-align: center;
}

.contact .content h2 {
  font-size: 3.5rem;
  font-weight: 800;
  color: white;
}


.contact .content p {
  margin: 13px;
  font-size: 1.5rem;
  font-weight: 300;
  color: white;

}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.container .contactinfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container .contactinfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.container .contactinfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}


.container .contactinfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: white;
  margin-top: 5px;
  flex-direction: column;
  font-weight: 300;
}

.container .contactinfo .box .text h3 {
  font-weight: 500;
  color: skyblue;
}

.contactform {
  width: 40%;
  padding: 40px;
  background: white;
  box-shadow: 4px 4px 4px rgb(96, 77, 77);
}

.contactform h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
}

.contactform .inputbox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactform .inputbox input,
.contactform .inputbox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contactform .inputbox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contactform .inputbox input:focus~span,
.contactform .inputbox input:valid~span,
.contactform .inputbox textarea:focus~span,
.contactform .inputbox textarea:valid~span {
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}


.contactform .inputbox input[type="submit"] {
  width: 100px;
  background: #00bcd4;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

/*==========================
Responsive Code
========================*/

@media (max-width: 868px) {
  body.disabledScroll {
    overflow: hidden;
  }

  .icon {
    display: block;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    z-index: 9;
  }

  .icon.cancel-btn {
    display: none;
  }

  .icon.cancel-btn.show {
    display: block;
  }

  .icon.hide {
    display: none;
  }

  .navbar .menu-list {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    /* colour black se white kiye hai */
    background: white;
    display: block;
    padding: 40px 0;
    text-align: center;
    clip-path: circle(25px at calc(100% - 55px) calc(0% + 50px));
    transition: all 0.3s ease;
  }

  .navbar.sticky .menu-list {
    clip-path: circle(25px at calc(100% - 55px) calc(0% + 35px));
  }

  .navbar .menu-list.active {
    clip-path: circle(75%);
  }

  .navbar .menu-list li {
    margin-top: 45px;
  }

  .navbar .menu-list li a {
    font-size: 23px;
  }


  .logo img {
    margin-top: -1rem;
    margin-left: -2rem;
    width: 20rem;
    height: 4.5rem;
  }

  /*----- Contact Us */

  .contact {
    padding: 50px;
  }

  .container {
    flex-direction: column;
  }

  .container .contactinfo {
    margin-bottom: 40px;
  }

  .container .contactinfo,
  .contactform {
    width: 100%;
  }

  /*======-------------------- FOOTER ----------------------=========*/
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }

  .footer-col iframe {
    width: 100%;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgb(168, 154, 154);
  }
}


/* Below 560px  */
@media (max-width: 35em) {
  .header {
    padding: 0 2.4rem;
  }

  .logo a img {
    margin-left: -30px;
    width: 180px;
    height: 45px;
  }

  .footer-col {
    width: 100%;
  }
}