@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

/* ---------    Header ------------- */

/* custom scroll bar */
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::selection {
  background: rgb(0, 123, 255, 0.3);
}

.content {
  max-width: 1250px;
  margin: auto;
  padding: 0px 30px;
}

.navbar {
  position: fixed;
  z-index: 5;
  width: 100%;
  padding: 25px 0;
  transition: all 0.3s ease;
}

.navbar.sticky {
  padding: 10px 0;
  /* Sticky navbar ka background
   color black se white kiye hai  */
  background: white;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.navbar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}

.navbar .menu-list {
  display: inline-flex;
}

.menu-list li {
  list-style: none;
}

.menu-list li a {
  /* Change colour to black */
  color: black;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.menu-list li a:hover {
  color: #007bff;
}

.banner {
  height: 10vh;
  background: url("white.webp") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.about {
  padding: 40px 0;
}

.about .title {
  font-size: 35px;
  font-weight: 700;
}

.about p {
  padding-top: 20px;
  text-align: justify;
}

.icon {
  /* Color change kiye hai white to 
  black taaki bars black ho jaaye */
  color: black;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.icon.cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}

.logo img {
  margin-top: -2rem;
  width: 25rem;
  height: 6rem;
}

.navbar.sticky .icon.cancel-btn {
  top: 10px;
}

/* ===========================================
Pre-Loader
======================================= */

#preloader {
  background: black url(loader.gif) no-repeat center;
  background-size: 15%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

/* ===========================================
Notification Bar
======================================= */

.not {
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
  padding-top: 20px;
  overflow: hidden;
}

.not .latest {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  color: red;
  background-color: pink;
  border-radius: 30px;
  margin-bottom: 10px;

}

.scroll {
  font-size: 1.3rem;
}

.latest p {
  font-size: 2rem;
}

.ram P {
  font-size: 1.5rem;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}


/*----------------   IMAGE SLIDER  -----------*/

.container {
  width: 100%;
  /* height: 4vh; */
  background: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden
}

.swiper {
  width: 100%;
  height: fit-content;
}

.swiper-slide img {
  width: 100%;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  color: white;
}

.swiper .swiper-pagination-bullet-active {
  background-color: white;
}

/* ===========================================
  Discover our school
======================================= */

.section-hero {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-basis: 100%;
  padding: 30px;
  flex-wrap: wrap;
  background: linear-gradient(135deg, rgb(150, 107, 107), grey, pink);
}

.hero h1 {
  color: white;
  padding-top: 10px;
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero p {
  color: white;
  padding-bottom: 10px;
  font-size: 1.8rem;
  margin-left: 15px;
  margin-right: 15px;
}


/* ===========================================
 Vision Section Start
======================================= */

.vi-head {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-basis: 100%;
  padding: 30px;
  flex-wrap: wrap;
  background: linear-gradient(135deg, rgb(150, 107, 107), grey, pink);
}

.vi-head h1 {
  color: white;
  padding: 10px;
  font-size: 3rem;
  margin-bottom: 10px;
}


.vi-head hr {
  margin-top: 3px;
  border-width: 3px;
  border-radius: 20px;
}

.vi-head p {
  color: white;
  font-size: 1.8rem;
  padding-bottom: 10px;
}

.vision {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  background: linear-gradient(135deg, rgb(111, 111, 196), grey, yellow, pink);
  cursor: pointer;

}

.vis {
  background-color: grey;
  width: 500px;
  margin: 40px;
  border-radius: 20px;
  padding: 30px;
  margin-top: 70px;
  margin-bottom: 70px;
  box-shadow: 4px 4px 4px rgb(96, 77, 77);
}

.vis-img-1 img {
  width: 100%;
  height: 295px;
  background-color: aqua;
  border-radius: 20px;
  /* background-size: cover; */

}

.vis-img-2 img {
  width: 100%;
  background-color: aqua;
  border-radius: 20px;
  background-size: cover;

}

.vis h2 {
  padding: 20px;
  font-size: 2.5rem;
  font-weight: bolder;
  color: white;

}

.vis p {
  font-size: 1.5rem;
  color: white;
}

.vis:hover {
  transform: scale(1.02);
}



/*-- ======================================== 
Principal Message's
========================================  */
.msg {
  display: flex;
  justify-content: center;
  text-align: left;
  background-color: grey;
  padding: 30px;
}

.msg img {
  margin: 40px;
  width: 50%;
  border-radius: 20px;
  float: right;
  box-shadow: 4px 4px 4px rgb(96, 77, 77);
}

.msgs {
  padding: 80px;
  width: 50%;
}

.msg h1 {
  font-size: 3.5rem;
  color: white;
  margin-bottom: 10px;
}

.msgs p {
  font-size: 1.8rem;
  color: white;
}

.msgs h5 {
  font-size: 1.8rem;
  font-weight: bold;
  color: rgb(24, 19, 19);
}




/* ===========================================
Footer Section
======================================= */

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: #24262b;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col p {
  font-size: 1.5rem;
  color: white;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

.footer-col iframe {
  width: 90%;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgb(168, 154, 154);
}

.cop {
  display: flex;
  justify-content: center;
  margin-left: 25%;
  margin-top: 20px;
  width: 50%;
}

.copyright {
  display: flex;
  justify-content: center;
}

.copyright p {
  color: white;
  font-size: 1.2rem;
  margin-top: 10px;
}

/* ===========================================
Responsive Codes 
======================================= */

/* 980px  */
@media (max-width: 62em) {
  body.disabledScroll {
    overflow: hidden;
  }

  .icon {
    display: block;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    z-index: 9;
  }

  .icon.cancel-btn {
    display: none;
  }

  .icon.cancel-btn.show {
    display: block;
  }

  .icon.hide {
    display: none;
  }

  .navbar .menu-list {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    /* colour black se white kiye hai */
    background: white;
    display: block;
    padding: 40px 0;
    text-align: center;
    clip-path: circle(25px at calc(100% - 55px) calc(0% + 50px));
    transition: all 0.3s ease;
  }

  .navbar.sticky .menu-list {
    clip-path: circle(25px at calc(100% - 55px) calc(0% + 35px));
  }

  .navbar .menu-list.active {
    clip-path: circle(75%);
  }

  .navbar .menu-list li {
    margin-top: 45px;
  }

  .navbar .menu-list li a {
    font-size: 23px;
  }


  .logo img {
    margin-top: -1rem;
    margin-left: -2rem;
    width: 20rem;
    height: 4.5rem;
  }

  /*------ Notification Bar  ------------*/


  .section-hero {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-basis: 100%;
    padding: 30px;
    flex-wrap: wrap;
    background: linear-gradient(135deg, rgb(150, 107, 107), grey, pink);
  }

  .hero h1 {
    color: white;
    padding-top: 10px;
    font-size: 2.5rem;
    margin-bottom: 10px;
  }

  .hero p {
    width: 90%;
    color: white;
    padding-bottom: 10px;
    font-size: 1.5rem;
    margin-left: 15px;
    margin-right: 15px;
  }

  /*--------------- Vision  --------------*/


  .vi-head {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0px;
    flex-wrap: wrap;
    background: linear-gradient(135deg, rgb(150, 107, 107), grey, pink);
  }


  .vi-head hr {
    margin-top: 3px;
    border-width: 2.5px;
    border-radius: 30px;

  }

  .vi-head h1 {
    color: white;
    padding: 10px;
    font-size: 2.5rem;
    margin-bottom: 10px;
  }

  .vi-head p {
    color: white;
    font-size: 1.5rem;
    padding-bottom: 10px;
    width: 90%;
  }

  .vision {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    background: linear-gradient(135deg, rgb(111, 111, 196), grey, yellow, pink);
  }

  .vis {
    background-color: grey;
    width: 500px;
    margin: 20px;
    border-radius: 20px;
    padding: 30px;

  }

  .vis-img-1 img {
    width: 280px;
    height: 200px;
    background-color: aqua;
    border-radius: 20px;
    /* background-size: cover; */
  }

  .vis-img-2 img {
    width: 280px;
    background-color: aqua;
    border-radius: 20px;
    background-size: cover;
  }

  .vis h2 {
    padding: 20px;
    font-size: 2.5rem;
    font-weight: bolder;
    color: white;

  }

  .vis p {
    font-size: 1.5rem;
    color: white;
  }

  .vis:hover {
    transform: scale(1.02);
  }



  /*-- ======================================== 
Principal Message's
========================================  */

  .msg {
    display: flex;
    justify-content: center;
    text-align: left;
    background-color: grey;
    flex-wrap: wrap;
  }

  .msg img {
    margin-top: -10px;
    width: 90%;
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgb(96, 77, 77);
  }

  .msgs {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .msg h1 {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 30px;
  }

  .msgs p {
    margin-top: -10px;
    font-size: 1.5rem;
    color: white;
  }

  .msgs h5 {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(24, 19, 19);
  }

  /*======-------------------- FOOTER ----------------------=========*/
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }

  .footer-col iframe {
    width: 100%;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgb(168, 154, 154);
  }

}

/* Below 560px  */
@media (max-width: 35em) {
  .header {
    padding: 0 2.4rem;
  }

  .logo a img {
    margin-left: -30px;
    width: 180px;
    height: 45px;
  }

  .footer-col {
    width: 100%;
  }
}